{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-props-no-spreading": "off",
    "max-len":"off",
    "no-nested-ternary":"off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
