{
  "extends": ["@react-bootstrap", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-props-no-spreading": "off",
    "max-len": "off",
    "no-nested-ternary": "off",
    "import/prefer-default-export": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
